.petBanner {
    width: 100vw;
    height: 80vh;
    margin: 0;
    margin-bottom: 50px;

}

.productsContainer
{
    height: max-content;
}

.productsContainer > div > h2
{
    text-align: center;
    margin: 0;
    margin-top: 50px;
    font-size: 40px;
}

.container .boxes
{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    margin-top: 30px;
}

.filters
{
    display: flex;
    margin-top: 20px;
    height: 100%;
}

.productsTitle
{
    display: flex;
    align-items: center;
}

.productsTitle button
{
    margin-left: 50px;
}

.filters .filter
{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.filters .filter label, .filters .filter strong
{
    border-bottom: 2px solid #1B264F;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
}

.filters .filter button
{
    margin-bottom: 20px;
}

.filters .filter select
{
    width: 200px;
    height: 30px;
    border: 2px solid #1B264F;
    background-color: #EB6543;
    color: white;
    font-family: "Zing Rust";
    font-size: 20px;
}

.filters div
{
    width: 100%;
}

.boxes .box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 500px;
    margin-bottom: 50px;
}

.boxes .box div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #1B264F;
}

.boxes .box .imgTitle
{
    border-radius: 50px 50px 0px 0px;
    overflow: hidden;
    height: 250px;
}

.boxes .box .imgTitle h2
{
    text-align: center;
    margin: auto;
    letter-spacing: 2px;
}

.boxes .box .descButton
{
    text-align: center;
    width: calc(100% - 3px);
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 0px 0px 50px 50px;
    overflow: hidden;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.boxes .box img
{
    border-bottom: 2px solid #1B264F;
    border-bottom-width: 100%;
    width: 70%;
    height: 150px;
}

.boxes .box a
{
    background-color: #EB6543;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #1B264F;
}

.boxes .box p
{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    font-family: Verdana;
    font-size: 15px;
}

.boxes .box .price
{
    margin: 0;
    font-size: 25px;
    border-top: 2px solid #1B264F;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-family: "Zing Rust";
    margin-bottom: 10px;
}